<div class="title-container">
  <h2>Efetuar Manutenção</h2>
</div>

<div class="solicitacao-info">
  <p><strong>Descrição do Equipamento:</strong> {{ solicitacao.descricaoProduto }}</p>
  <p><strong>Categoria do Equipamento:</strong> {{ solicitacao.categoria }}</p>
  <p><strong>Descrição do Defeito:</strong> {{ solicitacao.defeito }}</p>
  <p><strong>Data/Hora da Solicitação:</strong> {{ solicitacao.dataHora | date:'dd/MM/yyyy HH:mm' }}</p>
  <p><strong>Status Atual:</strong> {{ solicitacao.estado }}</p>
</div>
<div class="actions-container">
  <button class="btn-primary" (click)="efetuarManutencao()">Efetuar Manutenção</button>
  <button class="btn-secondary" (click)="redirecionarManutencao()">Redirecionar Manutenção</button>
</div>
<div *ngIf="estado === 'MANUTENCAO'">
  <div class="form-group">
    <label for="descricaoManutencao">Descrição da Manutenção:</label>
    <textarea id="descricaoManutencao" [(ngModel)]="descricaoManutencao"></textarea>
  </div>

  <div class="form-group">
    <label for="orientacoesCliente">Orientações para o Cliente:</label>
    <textarea id="orientacoesCliente" [(ngModel)]="orientacoesCliente"></textarea>
  </div>

  <button class="btn-confim-redirect" (click)="confirmarManutencao()">Confirmar Manutenção</button>
</div>
<div *ngIf="estado === 'REDIRECIONAMENTO'">
  <div class="form-group">
    <label for="funcionarioDestino">Redirecionar para:</label>
    <select id="funcionarioDestino" [(ngModel)]="funcionarioDestino">
      <option *ngFor="let funcionario of funcionarios" [value]="funcionario">{{ funcionario }}</option>
    </select>
  </div>

  <button class="btn-confim-redirect" (click)="confirmarRedirecionamento()">Confirmar Redirecionamento</button>
</div>
