<h2>Minhas Solicitações</h2>
<table class="tabela-primaria">
  <thead>
    <tr>
      <th>Data/Hora</th>
      <th>Equipamento</th>
      <th>Estado</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>
        <button class="botao-primario">Aprovar/Rejeitar</button>
        <button class="botao-primario">Resgatar</button>
        <button class="botao-primario">Pagar</button>
        <button class="botao-primario">Visualizar</button>
      </td>
    </tr>
	<tr>
		<td>21</td>
		<td>22</td>
		<td>23</td>
		<td>
		  <button class="botao-primario">Aprovar/Rejeitar</button>
		  <button class="botao-primario">Resgatar</button>
		  <button class="botao-primario">Pagar</button>
		  <button class="botao-primario">Visualizar</button>
		</td>
	  </tr>
	  <tr>
		<td>31</td>
		<td>32</td>
		<td>33</td>
		<td>
		  <button class="botao-primario">Aprovar/Rejeitar</button>
		  <button class="botao-primario">Resgatar</button>
		  <button class="botao-primario">Pagar</button>
		  <button class="botao-primario">Visualizar</button>
		</td>
	  </tr>  
  </tbody>
</table>
